<html>
    <head>
        
    </head>
    <body>
        <header>
            <p>
                Bienvenidos a DH Movies
            </p>
            <nav>
                <ul>
                    <li>
                        <a href="/movies/add">Crear Pelicula</a>
                                          <li>
                        <a href="/">Listado de Peliculas</a>
                     </li>  
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>