<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bienvenidos a DH movies</title>
</head>
<body>
    <h1>Listado de Peliculas</h1>
        <ul>
            <% for (let i=0 ; i < movies.length ; i++) { %>
            <li>
                <a href="/movies/<%=movies[i].id%>"><%=movies[i].title %></a>
            </li>
            <% } %>
        </ul>

        <a href="/movies/add">Agregar Película!</a>
    

    
</body>
</html>
