<%-include ('head') -%> <%-include ('header') -%>

<body>
  
  <div class="centrado">
    <form method="POST" action="/login">
      <label for="email">Email:</label>
      <input
        size=""
        class="forma"
        type="email"
        id="email"
        name="email"
        placeholder=" name@example.com"
        required
      />
      <br />
      <label for="password">Contraseña:</label>
      <input
        class="forma"
        type="password"
        id="password"
        name="password"
        placeholder=" Password"
        required
      />
      <br />
      <button type="submit" class="btn btn-secondary">Iniciar sesión</button>
    </form>
  </div>
</body>
<br />

<%-include ('footer') -%>
